body {
    background-color: seagreen;
    font-family: Arial, Helvetica, sans-serif;

}

.watchEl {
    display: inline;
    color: whitesmoke;
}

h1 {
    font-size: 3em;
}

li {
    color: white;
    font-size: x-large;
}