/* Color Pallet

grey-1:  rgba(219,222,220, 1)
grey-2: rgba(189,188,183, 1);
grey-3: rgba(180,180,180, 1);
dark-grey: rgba(41, 41, 41, 1)
purple: rgba(33,6,50, 1);
orange: rgba(253,84,45, 1)
darker-orange rgba(229, 53, 28, 1)
black: rgba(0, 0, 0, 1)
*/

body {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* color: white; */
    margin: 0;
    -webkit-align-content: center;
    align-content: center;
    background-color: lightgray;
}

li {
  font-family: 'Courier New', Courier, monospace;
}

.grid {
  max-width: 1000px;
  display: grid;
  grid-auto-rows: minmax(600px, auto);
  margin: auto;
}


.header  {
margin: auto;
padding-bottom: 20px;
padding-top: 20px;
text-align: center;
/* background-color: black; */
max-width: 1000px;
font-size: 3em;
/* border-color: #FD6a02; */
/* border-style: solid; */
border-radius: 30px;

}

.header p{
    font-size: .4em;
}

@media (min-width: 500px){
.grid {
    grid-template-columns: 38% 62%;
    padding-bottom: 5em;

  }
.header  {
  margin-top: .5em;
  border-width: 2pt;
  border-radius: 40px;
  }


  
}

.apple {
  text-align: center;
  padding: 20px;
  border-radius: 30px;
border-style: solid;
border-width: 4pt;
background-color: white;

  /*   background-color: black; */
}

.circle {
  border-radius: 100%;
  /* border-style: solid; */
  /* border-color:#FD6a02; */
  max-width: 100%;
  height: auto;
  /* border-width: 4pt; */
}

#profilePic {
  max-height:400px;
}

#workSection {
    text-align: left;
}

#workSection h2, #workSection .smallLine {
    text-align: center;
    
}

#stopWatch li {
  text-align: center;
}

#stopWatch table {
  /* align: center; */
 text-align: center;
}

.btn-blog {
  background-color: red;
}

/* blog post style */

.blog-post {
  max-width: 1000px;
  align-content: center;
  /* border-style: solid; */
  border-width: 6px;
  margin: auto;
  margin-top: 5%;
  } 
 
.blog-title { 
  border-width: 3px;
  /* border-color: black; */
  /* border-style: solid; */
  /* border-radius: 15px; */
  max-height: 100px;
  max-width: 300px;
  padding-bottom: 15px;
  text-align:center;
  margin: auto;

}
/* .empty-div {
  max-height: 10px;
  border-style: solid;
} */
.blog-body {
  border-width: 6   qpx;
  min-width: 100%;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
}

/* Color Pallet

grey-1:  rgba(219,222,220, 1)
grey-2: rgba(189,188,183, 1);
grey-3: rgba(180,180,180, 1)
purple: rgba(106,53,251, 1)
orange: rgba(253,84,45, 1)
black: rgba(0, 0, 0, 1)
*/
